@page
@model FizzBuzzWebv4.Pages.HistoriaDBModel
@{
    <h1>Historia wyszukiwania</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Liczba
                </th>
                <th>
                    Wynik
                </th>
                <th>
                    Data
                </th>
                <th>
                    Usuwanie
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Fizzbuzz)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Result)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}